<article class="attack">
    <div class="attack__cost">
        <img src="/assets/img/leaf.png" alt="" />
        <img src="/assets/img/leaf.png" alt="" />
    </div>
    <div class="attack__description">
        <p> Vampigraine A moins que tous les dégâts infligés par cette attaque ne soient prévenus, vous pouvez retirer I marqueur de gégâts de Bulbizarre. </p>
    </div>
    <div class="attack__damage">20</div>
</article>