<article class="hero">
  <section class="flex-c hero__title">
  <img class="hero__background" src="./assets/img/hero.jpg", alt="biscottes"/>
    <h1>Biscottes</h1>
    <h1>La Chantéracoise</h1>
  </section>
</article>