<section class="identity">
    <header class="identity__title">
        <div>
            <p class="identity__evolution">Pokémon de base</p>
            <h1 class="identity__name">Bulbizarre</h1>
        </div>
        <div>
            <span class="identity__life"> 40PV <img class="identity__type" src="/assets/img/leaf.png" /></span>
        </div>
    </header>
</section>