<h3 class="ingredients__title"> Des matières premières de qualité, essentielles à l’obtention de biscottes croustillantes et parfumées.
<article class="ingredients">
    <section class="ingredients__item">
        <img src="./assets/img/flour.png" />
        <p>La farine utilisée dans nos fabrications est obtenue à partir de blé issu à 100% de l’agriculture française, garanti sans OGM et non ionisée.</p>
    </section>
     <section class="ingredients__item">
        <img src="./assets/img/oil.png" />
        <p>Nous avons banni depuis de nombreuses années l’huile de palme, notamment pour son impact négatif sur l’environnement. Nous utilisons dans notre atelier du Beurre Bio produit dans le Jura ainsi que de l’huile de tournesol Bio, cultivée et pressée par un agriculteur installé à 20km de la biscotterie.</p>
    </section>
     <section class="ingredients__item">
        <img src="./assets/img/hand.png" />
        <p>L' élaboration d’une biscotte de qualité nécessite de 3 à 4 jours durant lesquels chacune de ces fameuses tranches est reprise manuellement une dizaine de fois! Les biscotes sont triées, sélectionnées, puis emballées manuellement.</p>
    </section>
</article>