<section class="power">
    <figure class="power__weakness">
        <figcaption>Faiblesse</figcaption>
        <img src="/assets/img/fire.png" alt="" />
    </figure>
    <figure class="power__resistance">
        <figcaption>Résistance</figcaption>
    </figure>
    <figure class="power__go">
        <figcaption>Coût de retraite</figcaption>
        <img src="/assets/img/normal.png" alt="" />
    </figure>
</section>