<article id="products">
  <h2>NOS PRODUITS</h2>
  <h3>Nos Biscottes Authentiques</h3>
  <p>Idéales pour les petits déjeuners, tartinées de délicieuses confitures ou nature, leur recette reste inchangée depuis 1960 </p>
    <div class="flex-products">
      <section class="products--bg">
        <img src="./assets/img/sansasel.png" alt="biscottes" />
        <div class="bg--white">
          <h3>SANS SEL AJOUTÉ</h3>
          <p>Nous avons supprimé le sel de notre recette pour vous faire profiter au mieux de ses qualités gustatives. </p>
        </div>
      </section>
      <section class="products--bg">
        <img src="./assets/img/miel.png" alt="sans miel" />
          <div class="bg--white">
            <h3>AU MIEL</h3>
            <p>Son petit goût de miel saura combler vos envies de douceurs.</p>
          </div>
      </section>
      <section class="products--bg">
        <img src="./assets/img/sanssucre.png" alt="sans sucre" />
          <div class="bg--white">
            <h3>SANS SUCRE</h3>
            <p>Allégées en sucre ces biscottes contiennent uniquement les sucres naturellement présents dans les blés. </p>
          </div>
      </section>
    </div>
</article>