<article class="flex-r story">
    <section class="story__description">
        <h2>NOTRE HISTOIRE</h2>
        <p>Née à la fin du XVIIIe siècle, de l’imagination de boulangers désireux d’allonger la conservation de leur pain, la biscotte connaît son premier succès durant la première guerre mondiale.</p>
        <p>À partir des années 30, le savoir-faire est perpétué et certains boulangers renommés pour leurs tours de main se spécialisent, ce sont les premiers artisans biscottiers.</p>
        <p>En 1950, un jeune garçon natif de Chanterac en Dordogne, fils de boulanger, est embauché comme apprenti dans un fournil du quartier historique de Périgueux. Admiratif devant la passion du jeune homme,le maître boulanger lui transmet alors la recette jalousement gardée de ses biscottes renommées dans toute la cité.</p>
        <p>Après quelques années consacrées à peaufiner son savoir-faire, le jeune boulanger décide de s’installer, il reprend la boulangerie Saint Germain du Salembre située dans le Périgord blanc. Il propose un pain cuit au feu de bois et, naturellement, les fameuses biscottes élaborées suivant la recette authentique.</p>
    </section>
    <section>
      <img src="./assets/img/story.jpg" alt="histoire" />
    </section>
</article>