@import "reset";
@import "./blocs/hero.scss";
@import "./blocs/story.scss";
@import "./blocs/products.scss";
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Hatolie";
  src: url("../font/Hatolie.ttf") format("ttf");
}
@font-face {
  font-family: "Hatolie Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Hatolie Regular"), url("Hatolie.woff") format("woff");
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  margin: 20px;
}
h1,
h2 {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  margin: 20px;
}
h3,
h4 {
  font-size: 3em;
  font-family: "Playfair Display", serif;
  margin: 20px;
}
@media screen and (max-width: 700px) {
  .products--bg {
    width: 100%;
  }
  .flex-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1,
  h2,
  h4,
  p {
    padding: 10px;
    font-size: 1em;
  }
  h3 {
    font-size: xx-large;
  }
}
