.flex-c {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.flex-r {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.hero {
  width: 100%;
  height: 100vh;
  background-color: #91be91;
  background-size: cover;
}
.hero__title h1 {
  font-size: 6em;
  font-family: "Hatolie", Courier, monospace;
  color: white;
}
@media screen and (max-width: 700px) {
  .flex-r {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__title h1 {
    font-size: 2.5em;
  }
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Hatolie";
  src: url("../font/Hatolie.ttf") format("ttf");
}

body {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}
h1,
h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}
h3,
h4 {
  font-size: 3em;
  font-family: "Playfair Display", serif;
}
