#products {
  text-align: center;
}
.flex-products .products--bg:first-child {
  background-color: #babd8d;
}
.flex-products .products--bg:nth-child(2) {
  background-color: #fa9500;
}
.flex-products .products--bg:nth-child(3) {
  background-color: #eb6424;
}
.products--bg {
  width: 30%;
}
.products--bg img {
  height: 400px;
}
.bg--white {
  padding: 30px;
  background-color: #fff3e0;
  min-height: 210px;
}
.bg--white h3 {
  font-size: 2em;
}
.flex-products {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
