<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./assets/scss/style.scss" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap"rel="stylesheet"/>
    <title>La Chantéracoise</title>
  </head>
  <body>
    <main>
      include includes/hero.pug
      include includes/story.pug
      include includes/products.pug
    </main>
  </body>
</html>
