<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Chantéracoise</title>
  </head>
  <body>
    <main>
      include ./includes/menu.pug
      include ./includes/home.pug
    </main>
  </body>
</html>
